@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base{
    
    
    
    h1,h2,h3{
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -1px;
    }
    
    h2{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.8px;
    }
    
    h3{
        font-size: 16px;
        line-height: 15px;
        letter-spacing: -0.25px;
    }
}



@layer components{
    

    .wrapper{
        @apply  dark:bg-dark-primary bg-light-secondary min-h-screen lg:flex 
        text-primary-color-700 w-full
    }

    .form-control{
        @apply block
        outline-none 
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-primary-color-700
        bg-light-primary bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-primary-color-700
        focus:bg-light-primary
        focus:border-secondary-color-700
        focus:outline-none
    }

    .form-label{
        @apply inline-block mb-2 text-primary-color-700

    }

    .btn{
        @apply      
        w-full
        py-2.5
        bg-secondary-color-700
        text-light-primary
        font-medium
        text-sm
        leading-tight
        uppercase
        rounded
       
        shadow-md
        hover:bg-secondary-color-300
        hover:shadow-lg
        focus:bg-secondary-color-700 
        focus:shadow-lg 
        focus:outline-none 
        focus:ring-0
        active:bg-secondary-color-700 
        active:shadow-lg
        transition duration-150 ease-in-out
    }

    .link{
        @apply h-full
        text-secondary-color-700
        hover:text-secondary-color-300
        focus:text-secondary-color-300 
        transition duration-200 ease-in-out
    }


    #addNewInvoice{
        @apply  
        relative
        bg-primary-color-700 
        flex 
        hover:cursor-pointer
        items-center 
        justify-around 
        lg:w-36
        rounded-3xl 
        w-20 h-10 
    } 




}

@layer utilities{


    .load-spin{
        @apply animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent rounded-full
      }


    .abs-centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centered{
        @apply flex  items-center justify-center
    }

    .center{
        @apply flex justify-center items-center
    }


}